@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body 
{
    font-family: 'Rubik', sans-serif;
    height: 100 
}

.container-fluid {
     overflow: hidden;
     background: #262626;
     color: #627482;
     margin-bottom: 0;
     padding-bottom: 0;
 }

small {font-size: calc(12px + (3) * ((100vw - 360px) / (1240)))}

.bold-text {color: #989c9e}

.mt-55 {margin-top: calc(50px + (10) * ((100vw - 360px) / (1240)))}

h3 { font-size: calc(34px + (6) * ((100vw - 360px) / (1240)))}

.social { font-size: 21px}

.rights { font-size: calc(10px + (2) * ((100vw - 360px) / (1240)))}
.row1{display: flex;}
.foo { padding-left: 400px;
padding-top: 20px;}

@media only screen and (max-width:1300px) and (min-width:901px)
{   
    .row1
    {   column-gap: 50px;
        display: flex;
    }
}
@media only screen and (max-width:900px) and (min-width:631px)
{   
    .row1   {display: flex;}
    .foo1
    {
        display: flex;
        padding-right: 500px;
    }
    .rights
    {
        display: flex;
        padding-right: 500px;
    }
}
@media only screen and (max-width:630px) and (min-width:290px)
{   .foo{padding-left: 60px;}}